/* Google Fonts */
.playfair-display-pixel {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hacemos que el main container esté en la parte inferior y esté centrado */
#mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: relative;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

#loadingText {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 60px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    margin-top: 10vh;
}

#loadingText, #muteInstructions, #volumeControllers {
    color: white;
}

#muteInstructions {
    position: fixed;
    bottom: 190px;
    left: 20px;
    z-index: 10;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 19px;
    margin-left: 10px;
}

#volumeContainer {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;}

#songNameDisplay {
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 19px;
    text-align: center;
    min-height: 24px;
}

/*Puntos Suspensivos*/
.puntosSuspensivos {
    display: inline-block;
    color: white;
}

.puntosSuspensivos::after {
    content: ''; /* Empieza vacío */
    animation: loadingPoints 1.5s infinite steps(4); /* Animación infinita */
    display: inline-block;
    width: 16px;
    text-align: left;
}

@keyframes loadingPoints {
    0% { content: ''; }
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
}

/* Estilo para los botones (para que no parezcan de Windows 95) */
button {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 19px;
    transition: 0.3s;
}

button:hover {
    background: white;
    color: black;
}

/* Estilo para el footer y los enlaces */
footer {
    margin-bottom: 20px;
}

footer a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(165, 57, 57);
    font-size: 32px;
}